<div class="modal-dialog">
  <div class="modal-content">

    <!--<header class="page-header wrapper">
      <%= link_to tweets_path do%>
        <h1 class="after_login">PORTFOLIO GARDEN</h1>
      <% end %>

      <nav>
        <ul class="main-nav">
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% if user_signed_in? %>
          <li><%= link_to "POST", new_tweet_path %></li>
          <li class="header-icon">
            <%= link_to user_path(current_user.id) do %>
              <%= image_tag current_user.image_url, size: '50x50', fallback: "no_image.png", class: "mb-3 profile-img" if current_user.image? %>
            <% end %>
          </li>
        </ul>
        <% end %>
      </nav>
    </header>-->

    <h2>スキル編集</h2>
    <%= form_for @skill do |f| %>
      <table>
        <thead>
          <tr>
            <th>言語名</th>
            <th>画像</th>
            <th></th>
            <th>rank</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>
                <%= f.label :language_name %>
                <%= f.text_field :language_name %></td>
              <td>
                <!--<div class="field">
                  <%= f.label :image %>
                  <%= f.file_field :image %>
                </div>-->
                <div class="form-group">
                  <%= f.label :image, class: "label" %>
                  <%= f.file_field :image, accept: 'image/jpeg, image/gif, image/png', id: "image-select-btn" %>
                </div>
              </td>
              <td>
                <div class="post-image-prev">
                  <% if @skill.image? %>
                    <%= image_tag @skill.image.url, alt: "post-image", id: "img_prev", size: "50" %>
                  <% else %>
                    <%= image_tag "post-default.png", alt: "post-image", id: :img_prev, size: "50" %>
                  <% end %>
                </div>
              </td>
              <td>
                <div class="field" id="star">
                  <%= f.label :evaluation, "星評価：" %>
                  <%# f.hidden_field :evaluation, id: :review_star %>
                    <script>
                      $('#star').raty({
                        size     : 36,
                        starOff:  '<%= asset_path('star-off.png') %>',
                        starOn : '<%= asset_path('star-on.png') %>',
                        starHalf: '<%= asset_path('star-half.png') %>',
                        score: <%= @skill.evaluation %>, //scoreオプションで最初の評価内容を取得
                        scoreName: 'skill[evaluation]',//scoreNameオプションで、新たに評価を保存
                        half: true,
                      });
                    </script>
                </div>
              </td>
            </tr>
          </tbody>
      </table>
      <%= f.submit "編集する" %>
    <% end %>
  </div>
</div>
